@font-face{
	font-family: titlefont;
	src: url('../resources/harryf.TTF');
}

.container{
	width: 90%;
	margin: auto;
}
body{
background-image:url('paper.jpg');
}

#title{
	height: 195px;
}

#paper-title{
	display: inline-block;
	width: 56%;
	font-size: 100px;
	color: #606060  ;
	font-family: titlefont;
	position: relative;
	top: -17px;
}

#side-title > p {
	margin-top: 5px;
}

#moto{
	
display: inline-block;
border: 1px solid black;
width: 225px;
height: 90px;
position: relative;
font-family: titlefont;
top: -1px;
padding: 21px;
margin-right: 10px;
font-size: 24px;
box-sizing: border-box;
}

#info{
	border-top:1px solid black;
	border-bottom: 2.5px solid black;
}

#side-title{
	display: inline-block;
	width: 19%;
	margin-left: 10px;
	margin-top: 10px;
}

.info2{
	margin-left: 80px;
	margin-right: 40px;
	font-size: 10px;
}

.info4{
	margin-left: 280px;
}

.container-1{
	display: inline-block;
	width: 200px;
	vertical-align: top;
	margin: 2px;
	overflow: hidden;
	height: 900px;
}

.container-top{
	margin-top: 20px;
}

#part1{
	border-right: 1px solid black;
	padding-right: 4px;
}

.title1{
	display: block;
	position: relative;
	font-size: 23px;
	width: 100%;
	white-space: pre-wrap;
	margin: 0px;
}

.title2{
	display: block;
	position: relative;
	width: 100%;
	font-size: 15px;
	margin: 0px;
	white-space: pre-wrap;
}

.title3{
	display: block;
	position: relative;
	width: 100%;
	margin: 0px;
	white-space: pre-wrap;
}

hr{
	width: 100px;
	border: none;
	background-color: black;
	color:black;
	height: 1px;
}

#part3{
	display: inline-block;
	width: 400px;
}

.container-3{
	display: inline-block;
	width: 420px;
	height: 1250px;
}
.container-23{
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid black;
	padding-left: 10px;
	height: 1250px;
	width: 700px;
}

#video-container{
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin: 2px;
}

.column-2 {
column-count: 2;
  column-gap: 1em;
   -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
}

.column-3{
	column-count: 3;
  column-gap: 1em;
   -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
}

.container-223{
	display: inline-block;
	width: 500px;
}

.container-123{
	display: inline-block;
	width: 160px;
	vertical-align: top;
	margin-left: 10px;
	border-left: 1px solid black;
	padding-left: 10px;
}

div {
	overflow: hidden;
}